<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">

<div id="divPrincipal">
    <h1>{{ Data }}</h1>
    <div id="divCheckGeral">
            <div class="divCheckIndividual">
                    <label for="cafe" style="margin-bottom:0.12rem;"><img src="/assets/icons/cafe.png" alt="cafe" class="icon"></label>
                    <input type="checkbox" id="cafe" name="cafe" class="regular-checkbox big-checkbox" />
            </div>
            <div class="divCheckIndividual">
                    <label for="almoco" style="margin-bottom:0.12rem;"><img src="/assets/icons/almoco.png" alt="almoco" class="icon"></label>
                    <input type="checkbox" id="almoco" name="almoco" class="regular-checkbox big-checkbox" />
            </div>
            <div class="divCheckIndividual">
                    <label for="janta" style="margin-bottom:0.12rem;"><img src="/assets/icons/janta.png" alt="janta" class="icon"></label>
                    <input type="checkbox" id="janta" name="janta" class="regular-checkbox big-checkbox" />
            </div>
    </div>
    <button type="button" class="btn" id="btnOK" >OK</button>
    <br>
    <br>
    <button type="button" class="btn" style="background-color: #79404F;">Relatório</button>
</div>