<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">

<div id="divPrincipal">
    <h1>{{ Data }}</h1>
    <div>
        <div class="form-check form-check-inline">
            <label class="form-check-label" for="check1">1</label>
            <input class="form-check-input checker" type="checkbox" id="check1" value="cafe">
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label" for="check1">2</label>
            <input class="form-check-input checker" type="checkbox" id="check2" value="almoco">
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label" for="check1">3</label>
            <input class="form-check-input checker" type="checkbox" id="check3" value="janta">
        </div>
    </div>
</div>