<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">

<div id="divPrincipal">
    <h1>{{ Data }}</h1>
    <!--<div>
        <div class="form-check form-check-inline">
            <label class="form-check-label" for="check1">Café</label>
            <input class="form-check-input checker" type="checkbox" id="check1" value="cafe">
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label" for="check1">Almoço</label>
            <input class="form-check-input checker" type="checkbox" id="check2" value="almoco">
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label" for="check1">Janta</label>
            <input class="form-check-input checker" type="checkbox" id="check3" value="janta">
        </div>
    </div> -->
    <div>
        <label>Checkbox Big</label>
        <input type="checkbox" id="checkbox-2-1" class="regular-checkbox big-checkbox" />
        <input type="checkbox" id="checkbox-2-2" class="regular-checkbox big-checkbox" />
        <input type="checkbox" id="checkbox-2-3" class="regular-checkbox big-checkbox" />
        <input type="checkbox" id="checkbox-2-4" class="regular-checkbox big-checkbox" />
    </div>
</div>