<div id="divPrincipal">
    <br>
    <br>
    <br>
    <div class="card" id="cardPrincipal">
        <div class="card-body">
            <div>
                <img src="../../assets/dog.png" alt="Logo" style="height: 5rem;">
                <h1>Pet</h1>
            </div>
            <form>
                <div class="form-group">
                    <label for="emailInput">Email</label>
                    <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
                        placeholder="auau@email.com">
                </div>
                <div class="form-group">
                    <label for="senhaInput">Senha</label>
                    <input type="password" class="form-control" id="senhaInput" placeholder="segre**">
                </div>
                <button type="submit" class="btn" id="btnSalvar">Entrar</button>
            </form>
        </div>
    </div>
</div>