<div id="divPrincipal">
    <h1>
        Relatório
    </h1>
    <hr>
    <div id="divPlanilha">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Almoço</th>
                    <th scope="col">Café</th>
                    <th scope="col">Janta</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">01/02/2019</th>
                    <td>&#10003;</td>
                    <td></td>
                    <td>&#10003;</td>
                </tr>
                <tr>
                    <th scope="row">02/02/2019</th>
                    <td>&#10003;</td>
                    <td>&#10003;</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">03/02/2019</th>
                    <td></td>
                    <td>&#10003;</td>
                    <td>&#10003;</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>