<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Your {{ title }}
  </h1>
  <img src="../assets/principal/bjorn02.jpg" alt="" id="img_principal">
</div>
<nav class="navbar navbar-inverse fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="../dog.png"                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 alt="">
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Alimentação</a></li>
      <li><a href="#">Higiene</a></li>
      <li><a href="#">Passeios</a></li>
    </ul>
  </div>
</nav>