b, h5{
    color: #79404F;
}

#navPrincipal{
    width: 50%;
    margin-left: 25%;
    text-align: center;
    background-color: #F1B8C7;
    border-radius: 10px;
}

a{
    color: #79404F;
}

.nav-link:hover{
    font-weight: bold;
    color: #F10F49;
}
